{% extends "base.html" %}

{% block content %}
  <h1>
    Welcome!
  </h1>
  <h2>
    <br>
    What would you like to purchase today?
  </h2>
  <br>
  <div class="row">
  <div class="col">
   <h3>
    Product 1 - really great!
   </h3>
     <p>
       Here are some features:
     </p>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>1.</td>
          <td>takes your money</td>
        </tr>
        <tr>
          <td>2.</td>
          <td>takes your time</td>
        </tr>
        <tr>
          <td>3.</td>
          <td>impresses your friends</td>
        </tr>
        </tbody>
      </table>
    {% if user.is_authenticated %}
      <button class="btn btn-success">Buy product no. 1!</button>
    {% else  %}
      <button class="btn btn-success" disabled>Login first to buy the product!</button>
      <br>
      Here's the link to <a href="{% url 'account_login' %}">login</a>
    {% endif %}
  </div>
  <div class="col">
    <h3>
    Product 2 - even better! :)
    </h3>
    <p>
      Product 2 has the following features:
    </p>
     <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>1.</td>
          <td>takes even more money</td>
        </tr>
        <tr>
          <td>2.</td>
          <td>takes even more time</td>
        </tr>
        <tr>
          <td>3.</td>
          <td>impresses your friends even more</td>
        </tr>
        <tr>
          <td>4.</td>
          <td>Makes you even more unhappy than the other</td>
        </tr>
        </tbody>
      </table>
    {%  if user.is_authenticated %}
      <button class="btn btn-primary">Buy product no.2 !</button>
    {% else %}
      <button disabled class="btn btn-primary">You need to login to buy this product!</button>
      <br>
      Here's the link to <a href="{% url 'account_login' %}">login</a>
    {% endif %}

  </div>
  </div>

{% endblock %}
